# dependencies
/node_modules
/.pnp
.pnp.*

# Nextron / Electron build outputs
/dist/
/app/
/out/
/main/*.js
/main/*.js.map

# Next.js build (Renderer)
/renderer/.next/
/renderer/out/

# testing
/coverage

# misc
.DS_Store
*.pem
*.log
.env*

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel